/* your styles go here */

form i {
  margin-left: -30px;
  cursor: pointer;
}

tr.collapse.in {
  display:table-row;
}

.spanRight{
  border-radius: 0 0 0 7px;right: 80px;display: inline-block;float:right;position: absolute;
}
.text-green{
    color:#35ac88;
}
text-right {
  text-align: right;
}
.depth-table {
padding-bottom: 10px;
margin-bottom: 10px;
border-bottom: 1px solid var(--color-border-1);
}


/*************************** My Css Start **************************************/

.page-top-sec {margin-bottom: 40px;}
.page-top-sec .btn {height: 35px;}
.page-top-right{text-align:right;}
.page-top-left table td {padding-right: 10px;}



.section-heading {font-size: 17px; letter-spacing: 1px;margin-bottom:25px;}

.top-short-search-sec {display: flex; justify-content: space-between; margin-bottom: 20px;}
.top-short-search-sec .input-group .btn {border-radius: 0 3px 3px 0; height: 37px;}

.fix-table-thead {overflow-y: scroll; height: 800px; width: 100%;}
.fix-table-thead table thead {position: sticky; top: -1px;}
.fix-table-thead table {margin-bottom: 1px; text-align:center;}



/*********** Header Fix on top Css Start *********************/
header.header {z-index: 999; position: sticky; top: 0; width: 100%;}
/*********** Header Fix on End *********************/

/*********** sidebar Nav Css Start *********************/
.sidebar {bottom: 0;float: none;left: 0;position: fixed;top: 75px;overflow-y: auto;}
.sidebar .sidebar-heading {color: #343a40;}
.sidebar li.sidebar-list-item {margin-bottom: 12px;}
.sidebar-menu{background: #f9f9f9;  padding: 10px 0 2px;}
/* .sidebar-link:hover {background: rgba(0,0,0,0.06);} */
.sidebar-link{padding: 0.8rem 1.5rem;}
/*********** sidebar Nav Css End *********************/

.page-holder.page-left-no{margin-left: 0rem;}
.page-holder {margin-left: 16rem;}
.page-holder.page-exp {margin-left: 6rem;}


/*********** Dashboard Css Start *********************/
.dashboard-list {border: 1px solid #8c8c8c; padding: 10px 15px; border-radius: 8px;}
.dashboard-list p {font-size: 14px;}
.dashboard-list h5 {font-size: 16px;}
.dash-ammount .updown-inner h5 {display: flex; justify-content: space-between;}
/*********** Dashboard Css End *********************/


/*********** Market-Depth Page Css Start *********************/
.idmarket-content {margin-top: 10px;}
.marketdepth-page .modal-body, .marketdepth-page .modal-header {padding: 1rem 0rem;}
.depth-table table {text-align: center;}
.depth-table table td, .depth-table table th {padding: .8rem .5rem; border: 1px solid #787878;}
.depth-table hr {width: 96%; margin: 10px auto;}

/*********** Market-Depth Page Css End *********************/




@media screen and (max-width: 767px) {
.page-top-sec {margin-bottom: 30px;}
.page-top-right { text-align: center; margin-top: 15px;}
.page-top-sec .page-top-left table {text-align: center; max-width: 500px; margin: 0 auto;}


.dashboard-list {margin-bottom: 20px;}
.dashboard-page .col-md-4.col-xl-4:last-child .dashboard-list {margin-bottom: 0;}
}

/*************************** My Css End **************************************/
